<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Footer Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/luqqydube" class="fa fa-facebook"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Luckyoula9034" class="fa fa-github"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://instagram.com/" class="fa fa-instagram"></a>
        </li>
        
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/luckyoula9034/"> Lucky Ogubmo Oula</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->