{% extends "blog.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  <div>
        {% for comment in comments %}
        <div class="container mt-2 mb-3">
          <div class="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href=""></a>
                <small class="text-muted"
                  >Posted by:
                  <a href=""
                    >{{ comment.author.username }}</a
                  >
                  on {{ comment.date_posted.strftime('%Y-%m-%d') }}</small
                >
              </div>
              <p class="article-content">{{ comment.content }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="content-section card p-3 mt-3">
      <form action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 mt-5 text-center">
            Comment Post
          </legend>
          <div class="form-group">
            {% if form.content.errors %} {{ form.content(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.content(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group text-center">
          {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}